@import "bootstrap/dist/css/bootstrap.min.css";
@import "./bootstrapExtendedClasses.css";
@import "./colors.css";

body {
  font-family: sans-serif;
}
/* Other Fonts Classes to Use */
.Segoe_UI {
  font-family: "Segoe UI";
}

/* Landing Page Padding for Container */
.LandingPagePadding {
  padding: 0 96px;
}
