.landingPage {
  --LandingPageTextColor-LoginBtn: #14723d;
  --LandingPageTextColor-SectionText: #072213;
  --landingPageSignUpButton-color: black;
  --landingPageSignUpButton-background-color: white;
  --landingPageSignUpButton-color-hover: white;
  --landingPageSignUpButton-background-color-hover: #072213;
}
html[data-theme="dark"] .landingPage {
  --LandingPageTextColor-LoginBtn: #29cf83;
  --LandingPageTextColor-SectionText: #eefff5;
  --landingPageSignUpButton-color: white;
  --landingPageSignUpButton-background-color: #072213;
  --landingPageSignUpButton-color-hover: black;
  --landingPageSignUpButton-background-color-hover: white;
}

.LandingPageTextColor-LoginBtn {
  color: var(--LandingPageTextColor-LoginBtn);
}
.LandingPageTextColor-SectionText {
  color: var(--LandingPageTextColor-SectionText);
}

.fixedBackgroundImage {
  background-image: url("../../Assets/images/LandingPageImage.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.CircleUlStyle {
  list-style-type: circle;
}

.landingPageSignUpButton {
  background-color: var(--landingPageSignUpButton-background-color);
  color: var(--landingPageSignUpButton-color);
  transition: all 0.2s ease;
}

.landingPageSignUpButton:hover {
  background-color: var(--landingPageSignUpButton-background-color-hover);
  color: var(--landingPageSignUpButton-color-hover);
}
.landingPageSignUpButton:active {
  transform: scale(0.85);
}
.LandingPagePointer{
    cursor: pointer;
}

.landingPage {
  --LandingPageTextColor-LoginBtn: #14723d;
  --LandingPageTextColor-SectionText: #072213;
  --landingPageSignUpButton-color: black;
  --landingPageSignUpButton-background-color: white;
  --landingPageSignUpButton-color-hover: white;
  --landingPageSignUpButton-background-color-hover: #072213;
}
html[data-theme="dark"] .landingPage {
  --LandingPageTextColor-LoginBtn: #29cf83;
  --LandingPageTextColor-SectionText: #eefff5;
  --landingPageSignUpButton-color: white;
  --landingPageSignUpButton-background-color: #072213;
  --landingPageSignUpButton-color-hover: black;
  --landingPageSignUpButton-background-color-hover: white;
}

.LandingPageTextColor-LoginBtn {
  color: var(--LandingPageTextColor-LoginBtn);
}
.LandingPageTextColor-SectionText {
  color: var(--LandingPageTextColor-SectionText);
}

.fixedBackgroundImage {
  background-image: url("../../Assets/images/LandingPageImage.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.CircleUlStyle {
  list-style-type: circle;
}

.landingPageSignUpButton {
  background-color: var(--landingPageSignUpButton-background-color);
  color: var(--landingPageSignUpButton-color);
  transition: all 0.2s ease;
}

.landingPageSignUpButton:hover {
  background-color: var(--landingPageSignUpButton-background-color-hover);
  color: var(--landingPageSignUpButton-color-hover);
}
.landingPageSignUpButton:active {
  transform: scale(0.85);
}
.LandingPagePointer{
    cursor: pointer;
}

.languageDropdown{
  max-height:150px;
  width:130px;
  overflow-y:auto;
  border-radius:4px;
  box-shadow:0 0px 10px rgba(0,0,0,0.4);
  scrollbar-width:none;
  -ms-overflow-style:none;     
}

.languageDropdown::-webkit-scrollbar{
  display:none;
}
.languageOption{
  padding:6px 0px;
}

.languageOption:hover{
  background:rgb(223, 223, 223);
}